.landing {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 24px;
}

.text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.comm {
  margin-top: 24px;
}

.comm__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 8px;
}

.comm__list {
  display: flex;
  flex-wrap: wrap;
}
