.landing {
  padding: 20px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.comm {
  margin-top: 24px;
}

.comm__title {
  text-align: center;
}

.comm__list {
  display: flex;
  flex-wrap: wrap;
}
