:root {
  --primary-white: #f9f4f4;
  --primary-black: #0c0c0f;
  --primary-black-rgb: rgb(12, 12, 12);
}

body {
  overflow-x: hidden;
  background-color: var(--primary-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0c0c0f;
}

a {
  text-decoration: none;
}

.container {
  padding: 16px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
