:root {
  --primary-color: #403f83;
  --primary-color-rgb: 64, 63, 131;
  --secondary-color: #8364e2;
  --secondary-color-rgb: 131, 100, 226;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

a {
  text-decoration: none;
}

.container {
  padding: 16px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
