.comm__container {
  width: 50%;
}

.comm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.img__wrapper {
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.img {
  transform: scale(1.1);
}

.comm__name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.comm__title {
  font-size: 16px;
  color: grey;
}

@media (max-width: 768px) {
  .comm__container {
    width: 100%;
  }
}
