.comm__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.comm {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img__wrapper {
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.img {
  object-fit: cover;
  transform: scale(1.1);
  transition: all 350ms ease;
}

.img:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.img:active {
  transform: scale(1.1);
}

.collapse {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 350ms ease, opacity 350ms ease;
}

.open {
  opacity: 1;
  max-height: 200px;
  overflow: visible;
  margin-top: 8px;
  transition: max-height 350ms ease, opacity 350ms ease;
}

.description {
  margin: 16px 0px;
}
