.comm__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.comm {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img__wrapper {
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.img {
  object-fit: cover;
  transform: scale(1.1);
  transition: all 300ms ease;
}

.img:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.img:active {
  transform: scale(1.1);
}

.collapse {
  opacity: 0;
  height: 0;
  transition: all 0.35s ease;
}

.show {
  opacity: 1;
  margin-top: 8px;
  height: 90px !important;
  transition: all 0.35s ease;
}
