.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}

.home {
  display: flex;
  align-items: center;
}

.logo__wrapper {
  margin-right: 16px;
}

.title {
  font-size: 24px;
  /* font-weight: 700; */
  font-style: italic;
}

.link {
  margin-right: 16px;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
  background-color: #0c0c0f;
}

.link:hover::after {
  width: 100%;
  left: 0;
}

.link:last-child {
  margin-right: 0px;
}

@media (max-width: 768px) {
  .link {
    display: none;
  }
}
